<h1 class = "text-center"> Trip Reports Index Page</h1>

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search By Destination <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% Location.all.each do |location| %>
              <li><a href = "/notes/?destination=<%= location.destination %>"><%= location.destination %></a></li>
          <% end %>
          </ul>
        </li>
      </ul>

<% @notes.each do |note| %>
<div class = "well">
<div class = "row">
<div class = "col-md-4">
<h3><a href = "/notes/<%= note.id %>"><%= note.title %></a></h3>
<h6>Destination: <%= note.destination %></h6>
<h6>Length: <%= note.length %></h6>
</div>
<div class = "col-md-8">
<% note.images.each do |image| %>
  <img class = "indexpic" src = "<%= image.url %>">
  <% end %>
</div>
</div>
</div>
<% end %>

<%= button_to "Add Trip Notes", "/notes/new", method: :get %><br>
<% if current_user %>
<%= button_to "Sign Out", "/users/sign_out", method: :delete %>
<% else %>
<%= button_to "Sign In", "/users/sign_in", method: :get %>
<% end %>
